.horizontal-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homePage {

    height: 100%;
    padding: 2rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imageContainer {
    width: 100%;
    height: 30%;
}

.gridContainer {
    overflow-y: scroll;
    max-width: 420px;
}

@media screen and (orientation:portrait) {
    .gridContainer {
        width: 100%;
    }
}

@media screen and (orientation:landscape) {
    .gridContainer {
        height: 100%;
    }
}

/* height is longer than width */