.plate-scan-page {
	/* center children */
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}


.plate-scan-container {
	flex: 5;
    height: 100%;
    padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 420px;
}

.camera {
	/* width equal to container width and height equal to width */

	width: 220px;
	height: 220px;
	/* border only covering corners */
	border-radius: 14px;
	/* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='%23333' stroke-width='3' stroke-dasharray='107' stroke-dashoffset='62' stroke-linecap='round'/%3e%3c/svg%3e"); */

}

.upButton {
	height: 42px;
	width: 100%;
}

/* screen width is less than 420 */
@media (max-width: 420px) {
	.con {
		width: 100%;
	}
}